html {
  scroll-behavior: smooth;
}

.primary-font {
  font-family: "Quantico", sans-serif;
}

.heading-font {
  font-family: "Orbitron", sans-serif;
}

.optional-font {
  font-family: "Roboto", sans-serif;
  ;

}

.primary-color {
  color: #0A0F26;
}

.secondary-color {
  color: #0AC4FF;

}

.accent-1 {
  color: #BABABA;
}

.accent-2 {
  color: rgb(255, 255, 255, 0.5);
}

.accent-3 {
  color: #422ad5;
}

.accent-4 {
  color: #070B1D;
}

.accent-5 {
  color: #0A0F26
}



.text-shadow {
  text-shadow:
    0 0 3px #0ac6ff,
    0 0 7px #0ac6ff,
    0 0 12px #0ac6ff,
    0 0 17px #412ad5;
}

.text-shadow-2 {
  text-shadow:
    0 0 3px #412ad5,
    0 0 7px #0ac6ff,
    0 0 12px #0ac6ff,
    0 0 17px #0ac6ff;
}

.tab-border {

  border: 1px solid #0AC4FF;
  box-shadow: 0px 0px 15px #0AC4FF;
  text-shadow:
    0 0 3px #0ac6ff,
    0 0 7px #0ac6ff,
    0 0 12px #0ac6ff,
    0 0 17px #412ad5;

}

.tab-border:checked {
  background-color: #422ad5;
  color: white;
  border: 1px solid #422ad5;
  box-shadow: 0px 0px 15px #422ad5;
}

::placeholder {
  color: white;
  opacity: 1;
}

.neon-pulse {
  animation: neonPulse 3s ease-in-out infinite;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes neonPulse {

  0%,
  100% {
    text-shadow:
      0 0 3px #0ac6ff,
      0 0 7px #0ac6ff,
      0 0 12px #0ac6ff,
      0 0 17px #412ad5;
  }

  50% {
    text-shadow:
      0 0 5px #0ac6ff,
      0 0 10px #0ac6ff,
      0 0 20px #0ac6ff,
      0 0 30px #412ad5;
  }
}

.text-fade-in {
  animation:
    fadeIn 2s ease-out forwards,
    neonPulse 3s ease-in-out infinite;
}

.background-gradient {
  background:
    radial-gradient(circle at 30% 50%, #0ac6ff8f 1%, transparent 20%),
    radial-gradient(circle at 70% 30%, #412ad5a9 5%, transparent 25%),
    radial-gradient(circle at 50% 80%, #3B429F 2%, transparent 15%),
    linear-gradient(#070B1D, #070B1D);
  background-blend-mode: screen;
  background-size: 200% 200%;
  animation: float-circles 20s ease-in-out infinite alternate;

}

@keyframes float-circles {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 100%;
  }
}


.glowing-background::before,
.glowing-background::after,
.glowing-background span {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  filter: blur(15px);
  z-index: 1;
  position: fixed;
}

/* Ball 1 */
.glowing-background::before {
  top: 15%;
  left: 20%;
  background-color: rgba(10, 196, 255, 0.8);
  box-shadow: 0 0 20px rgb(10, 196, 255);
  animation: pulse1 4s infinite ease-in-out, move1 7s infinite ease-in-out;
}

/* Ball 2 */
.glowing-background::after {
  top: 65%;
  left: 35%;
  background-color: rgba(186, 186, 186, 0.8);
  box-shadow: 0 0 20px rgb(186, 186, 186);
  animation: pulse2 5s infinite ease-in-out, move2 8s infinite ease-in-out;
}

/* Additional balls using spans */
.glowing-background span:nth-child(1) {
  top: 20%;
  left: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px rgb(255, 255, 255);
  animation: pulse3 6s infinite ease-in-out, move3 9s infinite ease-in-out;
}

.glowing-background span:nth-child(2) {
  top: 80%;
  left: 80%;
  background-color: rgba(66, 42, 213, 0.8);
  box-shadow: 0 0 20px rgb(66, 42, 213);
  animation: pulse4 4.5s infinite ease-in-out, move4 7.5s infinite ease-in-out;
}

.glowing-background span:nth-child(3) {
  top: 70%;
  left: 55%;
  background-color: rgba(66, 42, 213, 0.8);
  box-shadow: 0 0 20px rgb(66, 42, 213);
  animation: pulse5 5.5s infinite ease-in-out, move5 8.5s infinite ease-in-out;
}

.glowing-background span:nth-child(4) {
  top: 10%;
  left: 60%;
  background-color: rgba(186, 186, 186, 0.7);
  box-shadow: 0 0 20px rgb(186, 186, 186);
  animation: pulse6 4.2s infinite ease-in-out, move6 7.2s infinite ease-in-out;
}

.glowing-background span:nth-child(5) {
  top: 70%;
  left: 10%;
  background-color: rgba(66, 42, 213, 0.7);
  box-shadow: 0 0 20px rgb(66, 42, 213);
  animation: pulse7 5.8s infinite ease-in-out, move7 8.8s infinite ease-in-out;
}

.glowing-background span:nth-child(6) {
  top: 50%;
  left: 85%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgb(255, 255, 255);
  animation: pulse8 6.2s infinite ease-in-out, move8 9.2s infinite ease-in-out;
}

.glowing-background span:nth-child(7) {
  top: 15%;
  left: 37%;
  background-color: rgba(66, 42, 213, 0.7);
  box-shadow: 0 0 20px rgb(66, 42, 213);
  animation: pulse7 5.8s infinite ease-in-out, move7 8.8s infinite ease-in-out;
}

/* Pulse animations */
@keyframes pulse1 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(10, 196, 255, 0.8);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(10, 196, 255, 1);
  }
}

@keyframes pulse2 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(186, 186, 186, 0.8);
  }

  50% {
    transform: scale(1.15);
    background-color: rgba(186, 186, 186, 1);
  }
}

@keyframes pulse3 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.5);
  }

  50% {
    transform: scale(1.25);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes pulse4 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(66, 42, 213, 0.8);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(66, 42, 213, 1);
  }
}

@keyframes pulse5 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(66, 42, 213, 0.8);
  }

  50% {
    transform: scale(1.3);
    background-color: rgba(66, 42, 213, 1);
  }
}

@keyframes pulse6 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(186, 186, 186, 0.7);
  }

  50% {
    transform: scale(1.18);
    background-color: rgba(186, 186, 186, 0.95);
  }
}

@keyframes pulse7 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(66, 42, 213, 0.7);
  }

  50% {
    transform: scale(1.22);
    background-color: rgba(66, 42, 213, 0.95);
  }
}

@keyframes pulse8 {

  0%,
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.4);
  }

  50% {
    transform: scale(1.25);
    background-color: rgba(255, 255, 255, 0.7);
  }
}

/* Movement animations */
@keyframes move1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(15px, 10px);
  }

  50% {
    transform: translate(0, 20px);
  }

  75% {
    transform: translate(-15px, 10px);
  }
}

@keyframes move2 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-10px, -15px);
  }

  50% {
    transform: translate(-20px, 0);
  }

  75% {
    transform: translate(-10px, 15px);
  }
}

@keyframes move3 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(12px, -8px);
  }

  50% {
    transform: translate(24px, 0);
  }

  75% {
    transform: translate(12px, 8px);
  }
}

@keyframes move4 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-15px, 10px);
  }

  50% {
    transform: translate(0, 20px);
  }

  75% {
    transform: translate(15px, 10px);
  }
}

@keyframes move5 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(18px, -12px);
  }

  50% {
    transform: translate(0, -24px);
  }

  75% {
    transform: translate(-18px, -12px);
  }
}

@keyframes move6 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-10px, -10px);
  }

  50% {
    transform: translate(-20px, 0);
  }

  75% {
    transform: translate(-10px, 10px);
  }
}

@keyframes move7 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(13px, 8px);
  }

  50% {
    transform: translate(26px, 0);
  }

  75% {
    transform: translate(13px, -8px);
  }
}

@keyframes move8 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-12px, -15px);
  }

  50% {
    transform: translate(0, -30px);
  }

  75% {
    transform: translate(12px, -15px);
  }
}


/* atom particle */

.atom-container {
  position: relative;
  margin: auto;
  width: 80%;
  height: 100%;

}

.nucleus {
  position: absolute;
  width: 25%;
  height: 15%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), #0AC4FF);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1rem #0AC4FF, 0 0 2rem #0AC4FF, 0 0 3rem #0AC4FF;
  animation: nucleusPulse 3s infinite alternate;
  z-index: 10;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem #0AC4FF;
}

.orbit-1 {
  width: 55%;
  height: 55%;
  border: 0.15rem solid #0AC4FF;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: rotateOrbit 8s infinite linear;
}

.orbit-2 {
  width: 45%;
  height: 45%;
  border: 0.15rem solid #422ad5;
  transform: translate(-50%, -50%) rotate(225deg);
  animation: rotateOrbit 12s infinite linear reverse;
  box-shadow: 0 0 0.5rem #422ad5;
}

.orbit-3 {
  width: 65%;
  height: 65%;
  border: 0.15rem solid #0AC4FF;
  transform: translate(-50%, -50%) rotate(180deg);
  animation: rotateOrbit 15s infinite linear;
}

.light-beam {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to right, transparent, #0AC4FF, transparent);
  transform: translate(-50%, -50%) rotate(45deg);
  animation: beamPulse 3s infinite alternate ease-in-out;
}

.light-beam-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(to right, transparent, #422ad5, transparent);
  transform: translate(-50%, -50%) rotate(135deg);
  animation: beamPulse 4s infinite alternate-reverse ease-in-out;
}

.star {
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  background-color: #BABABA;
  border-radius: 50%;
}

.star-1 {
  top: 10%;
  left: 20%;
  animation: twinkle 3s infinite;
}

.star-2 {
  top: 15%;
  left: 80%;
  animation: twinkle 2s infinite 0.3s;
}

.star-3 {
  top: 25%;
  left: 10%;
  animation: twinkle 4s infinite 0.7s;
}

.star-4 {
  top: 30%;
  left: 70%;
  animation: twinkle 3s infinite 1s;
}

.star-5 {
  top: 40%;
  left: 25%;
  animation: twinkle 5s infinite 0.5s;
}

.star-6 {
  top: 65%;
  left: 90%;
  animation: twinkle 3s infinite 1.5s;
}

.star-7 {
  top: 75%;
  left: 40%;
  animation: twinkle 4s infinite 0.2s;
}

.star-8 {
  top: 80%;
  left: 85%;
  animation: twinkle 3s infinite 0.8s;
}

.star-9 {
  top: 85%;
  left: 15%;
  animation: twinkle 5s infinite 1.2s;
}

.star-10 {
  top: 90%;
  left: 50%;
  animation: twinkle 3s infinite 1.7s;
}

.energy-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60%;
  border-radius: 50%;
  box-shadow: 0 0 4rem rgba(10, 196, 255, 0.3);
  opacity: 0.5;
  animation: energyPulse 4s infinite ease-in-out;
}


@keyframes rotateOrbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes nucleusPulse {
  0% {
    box-shadow: 0 0 1rem #0AC4FF, 0 0 2rem #0AC4FF;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    box-shadow: 0 0 1.5rem #0AC4FF, 0 0 2.5rem #0AC4FF, 0 0 3.5rem #0AC4FF;
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    box-shadow: 0 0 1rem #0AC4FF, 0 0 2rem #0AC4FF;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes energyPulse {

  0%,
  100% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0.3;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.7;
  }
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}

@keyframes beamPulse {
  0% {
    opacity: 0.4;
    width: 90%;
  }

  100% {
    opacity: 0.8;
    width: 100%;
  }
}



@media only screen and (max-width: 600px) {

  .glowing-background::before,
  .glowing-background::after,
  .glowing-background span {
    display: none;
  }

  .atom-container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 400px;

  }

  .nucleus {
    position: absolute;
    width: 25%;
    height: 20%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), #0AC4FF);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem #0AC4FF, 0 0 2rem #0AC4FF, 0 0 3rem #0AC4FF;
    animation: nucleusPulse 3s infinite alternate;
    z-index: 10;
  }

  .energy-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    border-radius: 50%;
    box-shadow: 0 0 4rem rgba(10, 196, 255, 0.3);
    opacity: 0.5;
    animation: energyPulse 4s infinite ease-in-out;
  }
}

/* music player */

.album-art {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: background-image 0.3s ease;
}

.album-art::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
}

.song-info {
  margin-bottom: 10px;
}

.song-info h2 {
  font-size: 24px;
  margin-bottom: 6px;
}

.song-info p {
  font-size: 16px;
  color: #b3b3b3;
  margin-bottom: 15px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.control-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  background-color: rgba(10, 196, 255, 0.1);
}

.control-btn:hover {
  background-color: rgba(10, 196, 255, 0.3);
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  background-color: rgba(10, 196, 255, 0.1)
}

.play-btn:hover {
  transform: scale(1.05);
  background-color: rgba(10, 196, 255, 0.3);
}

/* SVG Icons */
.icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.play-icon {
  fill: white;
  width: 30px;
  height: 30px;
}

.pause-icon {
  fill: white;
  width: 30px;
  height: 30px;
  display: none;
}

/* For accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}