.primary-font {
    font-family: "Quantico", sans-serif;
}

.heading-font {
    font-family: "Orbitron", sans-serif;
}

.optional-font {
    font-family: "Roboto", sans-serif;;

}

.primary-color {
    color: #0A0F26;
}

.secondary-color {
    color: #0AC4FF;

}

.accent-1 {
    color: #BABABA;
}

.accent-2 {
    color: rgb(255, 255, 255, 0.5);
}

.accent-3 {
    color: #422ad5;
}

.accent-4 {
    color: #070B1D;
}

.accent-5 {
    color: #0A0F26
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes neonPulse {
    0%, 100% {
      text-shadow: 
        0 0 3px #0ac6ff,
        0 0 7px #0ac6ff,
        0 0 12px #0ac6ff,
        0 0 17px #412ad5;
    }
    50% {
      text-shadow: 
        0 0 5px #0ac6ff,
        0 0 10px #0ac6ff,
        0 0 20px #0ac6ff,
        0 0 30px #412ad5;
    }
  }
  
  .text-fade-in {
    animation: 
      fadeIn 2s ease-out forwards,
      neonPulse 3s ease-in-out infinite;
  }


.background-gradient {
    background: 
      radial-gradient(circle at 30% 50%, #0ac6ff8f 1%, transparent 20%),
      radial-gradient(circle at 70% 30%, #412ad5a9 5%, transparent 25%),
      radial-gradient(circle at 50% 80%, #3B429F 2%, transparent 15%),
      linear-gradient(#070B1D, #070B1D);
    background-blend-mode: screen;
    background-size: 200% 200%;
    animation: float-circles 20s ease-in-out infinite alternate;
    
  }
  
  @keyframes float-circles {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  